<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	
	<!-- Application Message Bundle -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/classes/config/messages/messages" />
		<property name="cacheSeconds" value="3000" />
		<!-- Encoding 설정 -->
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>
	<!-- MessageSource를 사용하기 위한 Accessor 설정 -->
	<bean id="messageSourceAccessor" class="org.springframework.context.support.MessageSourceAccessor">
		<constructor-arg ref="messageSource"/>
	</bean>
	
	<!-- MessageSource를 사용하기위한 MessageUtils 매핑 -->
	<bean id="message" class="kr.co.sample.message.MessageService">
		<property name="messageSourceAccessor" ref="messageSourceAccessor"/>
	</bean>
	
	<!-- Default Location 설정 -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="ko"></property>
	</bean>
	
	<!-- Scans the classpath of this application for @Components to deploy as beans -->
	<context:component-scan base-package="kr.co.sample" />
	
	<!-- Configures the @Controller programming model -->
	<mvc:annotation-driven />
	
	<mvc:resources mapping="/resources/**" location="/resources/" />
	
	
	<!-- Resolves view names to protected .jsp resources within the /WEB-INF/views directory -->
	
	<bean id="beanNameResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver">
	    <property name="order" value="0"/>
	</bean>
	<bean id="jsonView" class="net.sf.json.spring.web.servlet.view.JsonView">
     	<property name="contentType" value="application/json;charset=UTF-8" />
    </bean>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="50000000" />
	</bean>
     
	<import resource="../mybatis/mybatis-context.xml"/>
	
	<util:properties id="common"  location="/WEB-INF/classes/config/property/common.xml" />
	<!-- 
  	<mvc:interceptors>
		<bean class="kr.co.sample.common.SessionInterceptor"  />
	</mvc:interceptors>
  	 -->
</beans>
